@import 'reset';

$font-color: #33373d;
$footer-heading-col: #adb0b6;
$border-light: 1px solid
  darken(
    $color: #f3f3f3,
    $amount: 20
  );
$border-dark: 1px solid #3c3f46;
$meta-color: #89959b;

/* Add your css here */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #33373d;
  background-color: #f3f3f3;
}

.imagery {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./../images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.h-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    li:not(:last-child) {
      margin-bottom: 5px;
    }

    @media screen and (min-width: 600px) {
      flex-direction: row;

      li {
        font-size: 15px;
        margin-left: 12px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    padding: 0;
  }
}

.cta {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 0;
}

.banner {
  padding: 30px 10px;

  &__logo {
    height: 75px;
    margin: auto;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__title-container {
    line-height: 1.2;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  &__search {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    * {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 600px) {
    padding: 60px 15px;


    &__logo {
      height: 120px;
    }

    &__search {
      flex-direction: row;
      max-width: 900px;
      margin: 0 auto;

      select {
        flex: 1;
        margin-right: 10px;
      }

      input {
        flex: 5;
        margin-right: 10px;
      }

      button {
        flex: 1;
      }
    }
  }
}

.widget {
  &__input-row {
    display: grid;
    grid-template-columns: auto 60px;

    margin-bottom: 15px;
    border: $border-light;
    padding: 5px 0;
    border-radius: 4px;

    .search-del {
      border: 0;
      border-radius: 0;
      padding: 0 12px;
      font-size: 14px;
    }

    .detect-btn {
      border: 0;
      background: transparent;
      font-size: 14px;

      border-left: $border-light;
    }
  }
}

.offer {
  font-size: 14px;
  color: #099e44;
  text-align: center;
  border-top: $border-light;
  padding-top: 15px;
  padding-bottom: 75px;
  line-height: 1.3;
}

.categories {
  .category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    @media screen and (min-width: 600px) {
      flex-flow: row nowrap;
    }
  }
}

.locality-list {
  background-color: #fff;
  padding: 15px;
  list-style-type: none;
  margin: 0;
  columns: 1;
  border: $border-light;

  @media screen and (min-width: 600px) {
    columns: 3;
  }
}

.footer {
  margin-top: 30px;
  background-color: $font-color;
  padding: 15px 0;
  color: #f1f1f1;

  h6 {
    color: $footer-heading-col;
    font-size: 17px;
    margin: 15px 0;
    font-weight: bolder;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 15px;
  }

  select {
    background-color: transparent;
    color: #f1f1f1;
  }

  &__logo {
    img {
      height: 50px;
    }
  }

  &-wrapper {
    padding-top: 15px;
    border-top: $border-dark;
  }

  &__list {
    padding: 0;
    margin: 0 0 30px;

    &__item {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a {
        color: #cdcdcd;
        text-decoration: none;
      }
    }
  }
}

// components
.icon-link {
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: 5px;
  text-decoration: none;
  padding: 8px 0;

  &__avatar {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__text {
    font-weight: bold;
    align-self: center;
    color: $font-color;
  }

  &--centered {
    align-self: center;
  }

  &:hover {
    text-decoration: none;
    background-color: #fff8eb;
  }

  @media screen and (min-width: 600px) {
    &__avatar {
      img {
        height: 25px;
      }
    }

    grid-column-gap: 0;
  }

  @media screen and (min-width: 900px) {
    grid-column-gap: 5px;
  }
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;

  .head {
    color: $font-color;
    font-weight: 500;
    // margin: 15px 0;
    line-height: 1.2;
  }

  &__heading {
    @extend .head;
    font-size: 18px;
  }

  &__heading-lg {
    @extend .head;
    font-size: 26px;
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 400;
    line-height: 1.3;
    color: $meta-color;
    margin-bottom: 15px;
  }
}

.category {
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 15px;

  &__img {
    width: 50px;
  }

  &__text {
    color: $font-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
  }
}

.locality {
  color: $font-color;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.456;

  &:nth-of-type(11n) {
    margin-bottom: 40px;
  }

  &__meta {
    color: $meta-color;
  }

  @media screen and (min-width: 600px) {
    &__meta {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    &__meta {
      display: inline;
    }
  }
}

/* Buttons */
.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;

    // change for the button tag
    border: 1px solid transparent;
    cursor: pointer;
  }

  &:hover {
    color: #cecece;
  }

  &--bordered {
    border-color: #fff !important;

    &:hover {
      border-color: #cecece !important;
    }
  }

  &--red, &.search-btn {
    background-color: #cb202d;

    &:hover {
      background-color: #ac0513;
    }
  }

  &--green {
    background-color: #099e44;
    color: #fff;

    &:hover {
      background-color: #018c38;
    }
  }
}

// Utilities
.bg-white {
  background-color: #fff !important;
}

.b-light {
  border: $border-light !important;
}

.bb-dark {
  border-bottom: $border-dark;
}
